<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error has been ocured</h1>
        <h2>Sorry, we'll try to fix it somehow</h2>
    </hgroup>
</body>
</html>
