@model MvcPL.Models.LessonModels.LessonContentEditViewModel

@{
    ViewBag.Title = "ContentEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>@Model.BaseInfo.Title</h2>
    <p>@Model.BaseInfo.Description</p>
    <hr/>
    @Html.Partial("_LessonPageEdit", Model)
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

