@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMS App</h1>
    <p class="lead">LMS - Learning Management System. This application shows some demo functions of LMS. You can create or enrol course.
     You will see you progress.If you are manager you will also have possibilty to load your images and attach them to any of your lessons</p>
</div>
<div class="row">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Course search</h2>
        <p>
            Find course you interested in. You can do search by tags and name
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create Courses</h2>
        <p>You can register as a manager and create your own course!</p>
    </div>
    <div class="col-md-4">
        <h2>Enrol Courses</h2>
        <p>You can find courses in Course catalog and enrol!</p>
    </div>
</div>