
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Images","ImageCatalog","Storage")</li>
    <li>Articles</li>
    <li>Quizzes</li>
</ul>
