@model MvcPL.Models.ArticleModels.ArticleBaseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="row">
    <hr />
    <article id="module-article">
        @Html.Raw(Model.HtmlData)
    </article>
</div>
<p>
    @Html.ActionLink("Back to Module", "Details", "Module", new {moduleId = Model.ModuleId, courseId = Model.CourseId}, null)
</p>
