@model MvcPL.Models.CourseModels.CourseFullViewModel

@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Content</h2>
@foreach (var module in Model.Modules)
{
  Html.RenderPartial("_ModuleBasePreview", module);
}