@using MvcPL.Infrastructure.Helpers
@model MvcPL.Models.CourseModels.CourseBaseListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}
<h2>Course Catalog</h2>
<div class="row">
    <div class="input-group" id="adv-search">
        @using (Ajax.BeginForm("Index", "Course",
            new AjaxOptions
            {
                UpdateTargetId = "searchResult",
                LoadingElementId = "loader",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "post"
            }))
        {
            <input type="hidden" value="false" name="randMode"/>
            <div class="form-group">
                <div class="form-group">
                    <label for="contain">
                        Contains the tags
                        <input class="form-control" type="text" name="tags" placeholder="You can enter tags here"/>
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Search by Course Name" name="searchField"/>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        }
    </div>
    @Ajax.ActionLink("Get Random Courses","Index", "Course", new AjaxOptions
            {
                UpdateTargetId = "searchResult",
                LoadingElementId = "loader",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "get"
            }, new {randMode = true })
    <hr/>
</div>
<p style="margin: 0 auto; width: 130px;">
    <img class="img-responsive"src="/Content/loader.gif" alt="loading..." style="display: none; margin: 0 auto;" id="loader">
</p>
@if (!Model.Courses.Any())
{
    <p>There is no courses:(</p>
}
else
{
    <div class="row" id="searchResult">
        @Html.Partial("_CourseBaseList", Model)
    </div>
}
