@model IEnumerable<MvcPL.Models.CourseModels.CourseBaseViewModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}
<h2>Course Catalog</h2>
<div class="row">
    <div class="input-group" id="adv-search">
        @using (Html.BeginForm("List", "Course", FormMethod.Get))
        {
            <div class="form-group">
                <b>Search By</b>
                @Html.RadioButton("searchBy", "Name", true) Name
                @Html.RadioButton("searchBy", "Author") Author
                <div class="form-group">
                    <label for="contain">
                        Contains the tags
                        <input class="form-control" type="text" name="tags" placeholder="You can enter tags here"/>
                    </label>
                    @*<label for="contain">
                <input class="form-control" type="text" name="searchField"/>
            </label>*@
                </div>
                <input type="text" class="form-control" placeholder="Search for courses" name="searchField"/>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        }
    </div>
    <hr/>
</div>
@if (!Model.Any())
{
    <p>There is no courses:(</p>
}
else
{
    <div class="row" id="searchResult">
        @{Html.RenderPartial("_CourseBaseList", Model);}
    </div>
}


