@model MvcPL.Models.CourseModels.CourseBaseListViewModel

@{
    ViewBag.Title = "ManageList";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}

<h2>ManageList</h2>

<div class="row" id="searchResult">
    @Html.Partial("_CourseBaseList", Model)
</div>

